<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="inner">

     <a target="_blank" href="http://kfem.or.kr/?page_id=151994" style="font-size: medium;">개인정보처리방침 | </a>
      <a target="_blank" href="http://kfem.or.kr/?page_id=151996" style="font-size: medium;">이용약관 | </a>
      <a target="_blank" href="https://www.epeople.go.kr" style="font-size: medium;">공익제보(국민권익위) | </a>
      <a target="_blank" href="https://www.nts.go.kr/" style="font-size: medium;">국세청 </a>
      <br>
      <br>

      공동대표 : 신동혁 전숙자 허석렬 | 고유번호 : 315-82-60207 | 대표전화 : 043-222-2466 | Fax : 043-222-2479<br>주소 : 28540 충북 청주시 청원구 무심동로 512 (우암동 294-8 도광빌딩 4층) | 대표 메일 : <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91f2fbf2f3d1faf7f4fcbffee3bffae3">[email&#160;protected]</a><br>후원 : 농협 311-01-130682 / 신한 100-012-825341 (예금주 : 청주충북환경운동연합)				<div class="site-copy">
        <a href="http://cjcb.ekfem.or.kr/wp-admin/">Copyright © 2013. KFEM All rights reserved.</a>
      </div>
    </div>
  </div><!-- .site-info -->		
</footer><!-- #colophon -->