<header id="masthead" class="site-header cf" role="banner">
		
  <div class="header-wrap">
  <div class="site-branding">
        <h1 class="site-title">
          <a href="https://kfem.or.kr/" rel="home">
            환경운동연합						</a>
        </h1>
      </div>
    <div class="header-inner cf">				
    
      <div class="topnav">
        <button class="on-top-search-box"><i class="fa fa-search"></i> 검색하기</button> &nbsp;  |  
        <a target="_blank" href="https://mrmweb.hsit.co.kr/v2/default.aspx?Server=Q15WKv7ScmOhF/6R/ZRkPg==&action=info">
          <i class="fa fa-user-plus"></i> 회원정보확인</a> &nbsp;  |  &nbsp; 
        <a target="_blank" href="http://kfem.org/" >ENGLISH</a>
      </div>

      <div class="prn">
        <a target="_blank" href="https://www.facebook.com/kfem.or.kr" title="페이스북" class="fb">페이스북</a>
                  <a target="_blank" href="https://twitter.com/kfem" title="트위터" class="tw">트위터</a>               
                  <a target="_blank" href="https://blog.naver.com/kfemblog" title="네이버 블로그" class="na">네이버 블로그</a>             
                  <!-- <a target="_blank" href="http://blog.daum.net/kfem7000" title="다음 블로그" class="da">다음 블로그</a>                 -->
                  <a target="_blank" href="https://www.youtube.com/user/videokfem" title="유투브" class="yo">유투브</a>
                  <a target="_blank" href="http://pf.kakao.com/_tuTXl" title="카카오톡" class="ka">카카오톡</a>
                  <a target="_blank" href="https://www.instagram.com/kfem1993/" title="인스타" class="in">인스타</a>
                  <!-- <a target="_blank" href="http://pf.kakao.com/_tuTXl" title="카카오플러스" class="ka">카카오플러스</a> -->
                  <!-- <a target="_blank" href="https://www.instagram.com/kfem1993" title="인스타그램" class="in">인스타그램</a>				 -->
      </div>			
      <!-- //prn -->
    </div>
    <!-- //header-inner -->
    <nav id="mobile-nav" class="mobile-nav">
    <a href="#page" class="tog tog01">
      menu toggle
    </a>
    <a href="#" class="tog tog02">
      menu toggle
    </a>
    <div class="gnbcon"><div class="menu-%eb%a9%94%eb%89%b4-1-container"><ul id="menu-%eb%a9%94%eb%89%b4-1" class="menu"><li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-451"><a href="https://kfem.or.kr/?page_id=8">소개</a>
<ul class="sub-menu">
<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-76"><a href="https://kfem.or.kr/?page_id=8">환경운동연합은?</a>
<ul class="sub-menu">
  <li id="menu-item-217539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217539"><a href="https://kfem.or.kr/?page_id=217536">정관</a></li>
  <li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a href="https://kfem.or.kr/?page_id=217">창립선언문</a></li>
  <li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a href="https://kfem.or.kr/?page_id=219">비전</a></li>
</ul>
</li>
<li id="menu-item-408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-408"><a href="https://kfem.or.kr/?page_id=25">활동</a>
<ul class="sub-menu">
  <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="https://kfem.or.kr/?page_id=25">활동분야</a></li>
  <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="https://kfem.or.kr/?page_id=28">연혁</a></li>
</ul>
</li>
<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-409"><a href="https://kfem.or.kr/?page_id=30">함께하는 사람들</a>
<ul class="sub-menu">
  <li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://kfem.or.kr/?page_id=30">조직구성</a></li>
  <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="https://kfem.or.kr/?page_id=32">임원 및 위원회</a></li>
  <li id="menu-item-150363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150363"><a href="https://kfem.or.kr/?page_id=150361">13기 상설·특별 위원회</a></li>
  <li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="https://kfem.or.kr/?page_id=34">중앙사무처</a></li>
</ul>
</li>
<li id="menu-item-410" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-410"><a href="https://kfem.or.kr/?page_id=42">지구의 벗</a>
<ul class="sub-menu">
  <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="https://kfem.or.kr/?page_id=42">지구의 벗 소개</a></li>
  <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="https://kfem.or.kr/?page_id=44">지구의 벗 지도</a></li>
</ul>
</li>
<li id="menu-item-411" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-411"><a href="https://kfem.or.kr/?page_id=46">재정</a>
<ul class="sub-menu">
  <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="https://kfem.or.kr/?page_id=48">윤리강령 · 투명성원칙</a></li>
  <li id="menu-item-425" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-425"><a href="https://kfem.or.kr/?cat=74">월별 재정보고</a></li>
</ul>
</li>
<li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a href="https://kfem.or.kr/?page_id=221">오시는 길</a></li>
</ul>
</li>
<li id="menu-item-169094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-169094"><a href="https://kfem.or.kr/?page_id=153480">지역·전문·협력기관</a>
<ul class="sub-menu">
<li id="menu-item-153508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153508"><a href="https://kfem.or.kr/?page_id=153480">지역환경운동연합</a></li>
<li id="menu-item-153504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153504"><a href="https://kfem.or.kr/?page_id=153496">전문·협력기관</a></li>
</ul>
</li>
<li id="menu-item-153605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153605"><a href="https://kfem.or.kr/?page_id=153542">활동</a>
<ul class="sub-menu">
<li id="menu-item-191842" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191842"><a href="https://kfem.or.kr/?cat=44">공지사항</a></li>
<li id="menu-item-191115" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191115"><a href="https://kfem.or.kr/?cat=43">보도자료</a></li>
<li id="menu-item-153878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153878"><a href="https://kfem.or.kr/?page_id=153544">국제연대</a></li>
<li id="menu-item-153876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153876"><a href="https://kfem.or.kr/?page_id=153548">물순환</a></li>
<li id="menu-item-153875" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153875"><a href="https://kfem.or.kr/?page_id=153550">생태보전</a></li>
<li id="menu-item-153874" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153874"><a href="https://kfem.or.kr/?page_id=153552">생활환경</a></li>
<li id="menu-item-153873" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153873"><a href="https://kfem.or.kr/?page_id=153554">에너지 기후변화</a></li>
<li id="menu-item-153598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153598"><a href="https://kfem.or.kr/?page_id=153556">    탈핵</a></li>
<li id="menu-item-162834" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-162834"><a href="https://kfem.or.kr/?cat=40">환경일반</a></li>
</ul>
</li>
<li id="menu-item-169013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-169013"><a href="https://kfem.or.kr/?page_id=168739">후원하기</a>
<ul class="sub-menu">
<li id="menu-item-169096" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169096"><a href="https://kfem.or.kr/?page_id=168739">후원안내</a></li>
<li id="menu-item-189875" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189875"><a title="Link-opens-in-a-new-tab" href="https://mrmweb.hsit.co.kr/v2/default.aspx?Server=Q15WKv7ScmOhF/6R/ZRkPg==&#038;action=join">정기후원</a></li>
<li id="menu-item-217530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217530"><a title="Link-opens-in-a-new-tab" href="https://mrmweb.hsit.co.kr/v2/default.aspx?Server=Q15WKv7ScmOhF/6R/ZRkPg==&#038;action=once2">일시후원</a></li>
<li id="menu-item-169097" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-169097"><a href="https://kfem.or.kr/?cat=3782">후원후기</a></li>
</ul>
</li>
<li id="menu-item-156260" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-156260"><a href="https://kfem.or.kr/?cat=67">참여하기</a>
<ul class="sub-menu">
<li id="menu-item-169095" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-169095"><a href="https://kfem.or.kr/?cat=67">참여프로그램</a></li>
</ul>
</li>
</ul></div></div>
  </nav>
    
    <nav id="site-navigation" class="main-navigation cf" role="navigation">					
      <div class="gnbcon">
      <h1 class="menu-toggle">Menu</h1>		
       <div class="menu-%eb%a9%94%eb%89%b4-1-container"><ul id="menu-%eb%a9%94%eb%89%b4-2" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-451"><a href="https://kfem.or.kr/?page_id=8">소개</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-76"><a href="https://kfem.or.kr/?page_id=8">환경운동연합은?</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217539"><a href="https://kfem.or.kr/?page_id=217536">정관</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a href="https://kfem.or.kr/?page_id=217">창립선언문</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a href="https://kfem.or.kr/?page_id=219">비전</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-408"><a href="https://kfem.or.kr/?page_id=25">활동</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="https://kfem.or.kr/?page_id=25">활동분야</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="https://kfem.or.kr/?page_id=28">연혁</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-409"><a href="https://kfem.or.kr/?page_id=30">함께하는 사람들</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://kfem.or.kr/?page_id=30">조직구성</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="https://kfem.or.kr/?page_id=32">임원 및 위원회</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-150363"><a href="https://kfem.or.kr/?page_id=150361">13기 상설·특별 위원회</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="https://kfem.or.kr/?page_id=34">중앙사무처</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-410"><a href="https://kfem.or.kr/?page_id=42">지구의 벗</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="https://kfem.or.kr/?page_id=42">지구의 벗 소개</a></li>
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="https://kfem.or.kr/?page_id=44">지구의 벗 지도</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-411"><a href="https://kfem.or.kr/?page_id=46">재정</a>
<ul class="sub-menu">
  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="https://kfem.or.kr/?page_id=48">윤리강령 · 투명성원칙</a></li>
  <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-425"><a href="https://kfem.or.kr/?cat=74">월별 재정보고</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a href="https://kfem.or.kr/?page_id=221">오시는 길</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-169094"><a href="https://kfem.or.kr/?page_id=153480">지역·전문·협력기관</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153508"><a href="https://kfem.or.kr/?page_id=153480">지역환경운동연합</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153504"><a href="https://kfem.or.kr/?page_id=153496">전문·협력기관</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-153605"><a href="https://kfem.or.kr/?page_id=153542">활동</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191842"><a href="https://kfem.or.kr/?cat=44">공지사항</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-191115"><a href="https://kfem.or.kr/?cat=43">보도자료</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153878"><a href="https://kfem.or.kr/?page_id=153544">국제연대</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153876"><a href="https://kfem.or.kr/?page_id=153548">물순환</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153875"><a href="https://kfem.or.kr/?page_id=153550">생태보전</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153874"><a href="https://kfem.or.kr/?page_id=153552">생활환경</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153873"><a href="https://kfem.or.kr/?page_id=153554">에너지 기후변화</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-153598"><a href="https://kfem.or.kr/?page_id=153556">    탈핵</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-162834"><a href="https://kfem.or.kr/?cat=40">환경일반</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-169013"><a href="https://kfem.or.kr/?page_id=168739">후원하기</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169096"><a href="https://kfem.or.kr/?page_id=168739">후원안내</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189875"><a title="Link-opens-in-a-new-tab" href="https://mrmweb.hsit.co.kr/v2/default.aspx?Server=Q15WKv7ScmOhF/6R/ZRkPg==&#038;action=join">정기후원</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217530"><a title="Link-opens-in-a-new-tab" href="https://mrmweb.hsit.co.kr/v2/default.aspx?Server=Q15WKv7ScmOhF/6R/ZRkPg==&#038;action=once2">일시후원</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-169097"><a href="https://kfem.or.kr/?cat=3782">후원후기</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-156260"><a href="https://kfem.or.kr/?cat=67">참여하기</a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-169095"><a href="https://kfem.or.kr/?cat=67">참여프로그램</a></li>
</ul>
</li>
</ul></div>				 <button class="search-btn"><i class="fa fa-search"></i></button>								
         <div class="search-box">

<form role="search" method="get" class="search-form" action="https://kfem.or.kr/">
  <label>search</label>
  <select name='search_type' id="search-type">
            <option class="search_type" value=''>-- 선택 --</option>
            <option class="search_type" value='title' selected>제목</option>
            <option class="search_type" value='main_text'>본문</option>
            <option class="search_type" value='title_and_main_text'>제목+본문</option>

    </select>
  <input type="search" class="search-field" placeholder="검색어를 입력하세요" value="" name="s">
  <button class="search-submit " type="submit" value="검색" ><i class="fa fa-search"></i> </button>
  
</form>
<button class="closeBtn"><i class="fas fa-times"></i></button>
</div>
      </div>						 
    </nav><!-- //site-navigation -->

  </div>
  <!-- //header-wrap -->	

  
  
</header><!-- #masthead -->
